<ArcAlert Color="ArcColor.Secondary" Class="mt-4">
    <Title>
        <strong>@Title</strong>
    </Title>
    <ChildContent>
        Please take our <a target="_blank" class="alert-link" href="https://go.microsoft.com/fwlink/?linkid=2148851">brief survey</a>
        and tell us what you think.
    </ChildContent>
</ArcAlert>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }

}