@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<ArcButton OnClick="@IncrementCount">Click me</ArcButton>

@code {
    private int _currentCount = 0;

    private void IncrementCount()
    {
        _currentCount++;
    }

}