@namespace ArcBlazor
@inherits ArcComponentBase

<header @attributes="@UserAttributes" class="@ClassName" style="@Style">
    <div class="@ContainerClassName">
        @ChildContent
    </div>
</header>